<!DOCTYPE html>
<html>
<head>
    <title>NATS Sniffer</title>
</head>
<body>

<script type="text/javascript">

	    // Create a new HTML5 EventSource
	    var source = new EventSource('/sniff/?subject=device.*.connection');

	    // Create a callback for when a new message is received.
	    source.onmessage = function(e) {
	        // Append the `data` attribute of the message to the DOM.
	        document.body.innerHTML += e.data + '<br>';
	    };

        console.log('pires');
</script>
</body>
</html>
